<div class="container">
  <ul class="the-speakers">
    {{#each speakers as |speaker|}}
      <li data-anchor='{{speaker.id}}'>
        <div class="photo" id="{{speaker.id}}">
          <div class="cropped-photo"><img alt="{{speaker.name}}" src="./images/people/{{speaker.id}}.jpg"></div>
        </div>
        <div class="speaker-information">
          <p class="speaker-name">{{speaker.name}}</p>
          {{#if speaker.tags}}
            <ul class="speaker-tags">
              {{#each speaker.tags as |tag|}}
              <li class="{{tag.css}}">{{tag.name}}</li>
              {{/each}}
            </ul>
          {{/if}}
        {{#if speaker.twitter}}
          <a class="twitter" href="https://twitter.com/{{speaker.twitter}}" target="_blank" title="Visit @{{speaker.twitter}} on Twitter"></a>
        {{/if}}
        {{#if speaker.bio}}
          <p class="speaker-bio"></p>
          {{speaker.bio}}
          <p></p>
        {{/if}}
        <ul class="sessions">
          {{#each speaker.sessions as |session|}}
            <li>
              <Session @session={{session}}/>
            </li>
          {{/each}}
        </ul>
        </div>
      </li>
    {{/each}}

  </ul>
</div>